@charset "utf-8";
	.NormalCharacterStyle6
{
	font-family : Source Sans Variable;
	font-weight : bold;
	font-size : 130px;
	letter-spacing : 6.5px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle7
{
	font-family : Source Sans Variable;
	font-weight : bold;
	font-size : 130px;
	letter-spacing : 6.5px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle
{
	font-family : Source Sans Variable;
	font-size : 36px;
	letter-spacing : 1.8px;
	color : #BDB6C6;
	color : rgb(189, 182, 198);
}
.NormalCharacterStyle1
{
	font-family : Source Sans Variable;
	font-size : 50px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle2
{
	font-family : Source Sans Variable;
	font-size : 36px;
	letter-spacing : 1.8px;
	color : #BDB6C6;
	color : rgb(189, 182, 198);
}
.NormalCharacterStyle5
{
	font-family : Source Sans Variable;
	font-size : 40px;
	letter-spacing : 2px;
	color : #00868A;
	color : rgb(0, 134, 138);
}
.NormalCharacterStyle3
{
	font-family : Source Sans Variable;
	font-size : 50px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle8
{
	font-family : Source Sans Variable;
	font-weight : bold;
	font-size : 35px;
	letter-spacing : 0.35px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle4
{
	font-family : Source Sans Variable;
	font-size : 36px;
	letter-spacing : 1.8px;
	color : #BDB6C6;
	color : rgb(189, 182, 198);
}
.NormalCharacterStyle13
{
	font-family : Source Sans Variable;
	font-size : 60px;
	letter-spacing : 6px;
	color : #00868A;
	color : rgb(0, 134, 138);
}
.NormalCharacterStyle12
{
	font-family : Source Sans Variable;
	font-size : 30px;
	letter-spacing : 0.3px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle14
{
	font-family : Source Sans Variable;
	font-size : 100px;
	color : #00868A;
	color : rgb(0, 134, 138);
}
.NormalCharacterStyle16
{
	font-family : Source Sans Variable;
	font-size : 36px;
	color : #BDB6C6;
	color : rgb(189, 182, 198);
}
.NormalCharacterStyle9
{
	font-family : Source Sans Variable;
	font-size : 30px;
	letter-spacing : 0.3px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle11
{
	font-family : Source Sans Variable;
	font-size : 30px;
	letter-spacing : 0.3px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle10
{
	font-family : Source Sans Variable;
	font-size : 30px;
	letter-spacing : 0.3px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle15
{
	font-family : Source Sans Variable;
	font-size : 40px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
